<h1>Stupid Coaching</h1>

<div>


</div>

<div id="you">
  <p><%= @answer %></p>
  <p><em>-You</em></p>
</div>

<div id="coach">
  <p><strong><%= @response %></strong></p>
  <p><em>-Your Coach</em></p>
</div>
<%= link_to "Ask a question", ask_path %>


